// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

$brand-theme: 'firefox';
$type-scale: 'standard';

$font-path: '/media/fonts';
$image-path: '/media/protocol/img';


// These are general styles for elements/components that occur on every page.
// Individual pages may include additional component styles as needed.

// Fonts
@import '../../protocol/css/includes/fonts/inter';
@import '../../protocol/css/includes/fonts/metropolis';

// Base elements - general HTML elements
@import '../../protocol/css/base/elements';

// Base includes - animations
@import '../../protocol/css/base/includes';

// Utility includes
@import '../../protocol/css/base/utilities/backgrounds';
@import '../../protocol/css/base/utilities/titles';

// Global components
@import '../../protocol/css/components/button';
@import '../../protocol/css/components/card';
@import '../../protocol/css/components/language-switcher';
@import 'components/download-button';

// Custom global components for nav and footer
// These will later be backported to Protocol
@import 'components/footer';
@import 'components/navigation';
@import 'components/menu';
@import 'components/menu-item';
@import 'components/sub-navigation';


// Temporary styling until the newsletter component is updated in Protocol
// https://github.com/mozilla/protocol/issues/578
.mzp-c-newsletter-subtitle {
    @include text-title-xs;
}

.mzp-c-newsletter-desc {
    @include text-body-md;
}

// style classes automatically added by python to match Protocol form error styles
.errorlist,
.error-msg {
    @include light-links;
    background-color: $form-red;
    border-radius: $field-border-radius;
    color: $color-white;
    padding: $spacing-sm;
    margin-bottom: $spacing-xl;
}

// hide <template> elements in the DOM.
template {
    display: none !important; /* stylelint-disable-line declaration-no-important */
}


//* --------------------------------------------------------------------------------*/
// TEMPORARY fixes for Protocol 14

.mzp-l-content {
    // No bottom margins on last child
    // Note: this can cause trouble if mzp-l-content
    // is used as a grid or flex container
    & > :last-child {
        margin-bottom: 0;
    }

    // Please don't nest containers
    .mzp-l-content {
        padding: 0;
    }

    // Remove vertical spacing
    &.mzp-t-content-nospace {
        padding-top: 0;
        padding-bottom: 0;
    }

    @media #{$mq-md} {
        // Please don't nest containers
        .mzp-l-content {
            padding: 0;
        }
    }

    @media #{$mq-xl} {
        // Please don't nest containers
        .mzp-l-content {
            padding: 0;
        }
    }
}

// No extra padding now that l-content has more
.mzp-c-hero {
    padding-bottom: 0 !important; /* stylelint-disable-line declaration-no-important */

    @media #{$mq-lg} {
        padding: 0 !important; /* stylelint-disable-line declaration-no-important */
    }
}

// No extra vertical spacing when there's a full-bleed background
.mzp-c-split.mzp-has-flush-bg {
    padding-top: 0;
    padding-bottom: 0;
}

// No bottom margins in multi-column layout
.mzp-l-columns .mzp-c-picto {
    margin-bottom: 0;
}

// Fix form colors in dark theme
.mzp-c-form {
    color: get-theme('body-text-color-alt');

    &.mzp-t-dark,
    .mzp-t-dark & {
        color: get-theme('body-text-color-alt-inverse');
    }
}

// No bottom margin when a feature card at the bottom of a container
.mzp-c-card-feature {
    .mzp-l-content > &:last-child {
        margin-bottom: 0;
    }
}

// Vertical gaps when columns wrap
@media #{$mq-md} {
    .mzp-l-columns {
        grid-gap: get-theme('v-grid-sm') get-theme('h-grid-md');
        gap: get-theme('v-grid-sm') get-theme('h-grid-md');
    }
}

@media #{$mq-lg} {
    .mzp-l-columns {
        grid-gap: get-theme('v-grid-lg') get-theme('h-grid-xl');
        gap: get-theme('v-grid-lg') get-theme('h-grid-xl');
    }
}
